@import "../../../../styles/abstracts/variables";
.Button__class {
	font-family: $ff-primary;
	font-weight: 700;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	border-radius: $br-rounded;
	gap: 2px;
	transition: all 0.5s;
	display: flex;
	i {
		width: 10%;
	}
	&:hover {
		gap: 5px;
		transform: scale(1.1, 1.1);
	}
}
.primary {
	background: #6a983c; // $btn-bg-primary
	color: $white;
	border: $btn-border-1;
	i {
		color: white;
	}
}
.outline {
	background: transparent;
	border: $btn-border-1;
	color: $black;
}
.secondary {
	background: #f5f5f5;
}
.lg {
	padding: 0.8rem 3rem;
	font-size: 1rem;
}
.md {
	padding: 0.8rem 1.2rem;
}
.sm {
	padding: 0.9rem;
}
