@import "../../../../../styles/abstracts/variables";
.Btn__primary {
	background: $color-primary;
	color: $white;
	border: $btn-border-1;
	font-weight: $fw-bolder;
	font-size: 1rem;
	&:hover {
		background: darken($color-primary, 5%);
	}
}

.lg {
	padding: 1rem 3rem;
}
.md {
	padding: 1rem 1.3rem;
}
.sm {
	padding: 0.7rem;
}
